body {
    background: url("../images/eatoutbackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
/* #title-desc {
    text-align: center;
    font-family: 'Spicy Rice', cursive;
    color:yellow; 
}*/
.jumbotron {
    /* opacity: .6; */
    padding: 10px;
    background-color: rgba(180,210,99,.4);
    border-bottom: yellow;
    border-bottom-style: solid;
    border-width: 5px;
}
h1 {
    color: black;
}
#jumbo-title {
    text-align: center;
    /* font-family: 'Spicy Rice', cursive; */
    font-family: 'Cookie', cursive;
    font-weight: 900;
    font-size: 100px;
    opacity: 1;
    color: forestgreen;
    text-shadow: -1px -1px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}
.card {
    background-color: #b4d263;
    font-family: 'Spicy Rice', cursive;
    opacity: .9;
    padding: 10px;
    border-color: forestgreen;
    border-style: solid;
    border-width: 5px;
    text-align: center;
}

#mood {
    color: yellowgreen; /*This color can always be changed later if we don't like it.*/
}

.submit-button{ /*Oksana made some changes to the submit button-let me know what you think*/
    background-color:green;
    border-style: solid;
    border-color: yellow;
    font-family: 'Cookie', cursive;
    font-size: 20px;
}
.submit-button:hover {
color: yellow;
}

button {
font-family: 'Cookie', cursive;
font-size: 20px;
min-width: 40px;
margin: 5px;
background-color:green;
border-style: solid;
border-color: yellow;
}

.nav-link{
    padding-top: 20px;
    padding-bottom:20px;
    margin-top:-142.1px;
    margin-left: -70px;
    border-color:yellow;
    border-style:solid;
    border-width:4px;
}

#navbarDropdown {
    text-align: center;
    font-size:30px;
    font-family: 'Cookie', cursive;
    color:black;
    background-color:forestgreen;
    
}

.navBarBackground{
    padding-bottom:0px;
    margin:50px;
    margin-right:1089px;   
}

.dropdown-menu{
    background-color:yellow;

}

.dropdown-item{
    color:black;
    font-family: 'Cookie', cursive;
    font-size:25px;

}

#restaurant-results{
    color: yellow;
}

.font-weight-bold{
    color: yellow;
}
