
.eatInBackground {
    background-color: linen;
}
#title-desc {
    text-align: center;
    font-family: 'Spicy Rice', cursive;
}
body {
    background-image: url("../images/mainbackground.jpg");
    background-size: cover;
}
.jumbotron {
    /* opacity: .6; */
    padding: 10px;
    background-color: rgba(180,210,99,.4);
    border-bottom: forestgreen;
    border-bottom-style: solid;
    border-width: 5px;
}
h1 {
    color: black;
}
#jumbo-title {
    text-align: center;
    /* font-family: 'Spicy Rice', cursive; */
    font-family: 'Cookie', cursive;
    font-weight: 900;
    font-size: 100px;
    opacity: 1;
    color: forestgreen;
    text-shadow: -1px -1px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}
.card {
    background-color: #b4d263;
    font-family: 'Spicy Rice', cursive;
    opacity: .9;
    padding: 40px;
    border-color: forestgreen;
    border-style: solid;
    border-width: 5px;
    text-align: center;
}

#mood {
    color: white;
}

.lead{
    color:black;
}
